set -euo pipefail

function devf_print_props() {
  printf "   %-${COL_PROP_LENGTH:-10}s : %s\n" "$1" "$2"
}

export PROJECT_DIR="$PWD"
export PROJECT_NAME="analytics"
export ORGANIZATION_NAME="gerardnico"

ENVRCD="$PWD/.envrc.d"
echo ""
echo "Envrc.d scripts: "
export COL_PROP_LENGTH=1
count=0
for file in "$ENVRCD"/*.sh; do
  count=$((count + 1))
  # shellcheck disable=SC1090
  if [ -r "$file" ]; then
    devf_print_props "$count" "$(realpath --relative-to="$ENVRCD" "$file")"
    source "$file"
  fi
done
unset file